@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i&amp;subset=vietnamese);
body,
html {
    background: #ecedf4;
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: #797979;
    height: 100%;
}

[data-reactroot] {
    height: 100%;
}

#root {
    height: 100%;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
    background-color: darkgrey;
    outline: 1px solid slategrey;
    border-radius: 20px;
}

a,
a:focus,
a:hover {
    color: #54657e;
    text-decoration: none;
}

p {
    padding: 0;
    margin: 0;
}

.fontWeight {
    font-weight: 600;
}

button {
    outline: none !important;
    border-radius: 20px;
}

input:active {
    border: 1px solid red;
}

