/*
    DEMO STYLE
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
    font-size: 14px;
}

p {
    font-family: 'Poppins', sans-serif;
    margin: 0
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

i,
span {
    display: inline-block;
}
.font-size-16{
    font-size: 16px;
}
.font-size-18{
    font-size: 18px;
}
.button-custom{
    background: none;
    border:none;
    cursor: pointer;
}
.button-custom:focus,.button-custom:active,.button-custom:hover{
    outline: none;
    color: #7386d5;
}
.margin-left-15{
    margin-left: 15px;
}
.btn-loading{
  cursor: none;
  pointer-events: none;
  opacity: 0.6
}
.hidden{
    display: none;
}
.error {
    background-color: #fff;
    font-style: italic;
    color: #ea4c89;
}
.checkError {
    display: none;
}
/* DEL SIP */

.delModal .modal-content {
    border-radius: 20px;
}

.delModal h5 {
    font-size: 24px;
    margin: 20px;
}

.delModal p {
    font-size: 16px;
    margin: 20px;
}

.delModal .btn-default {
    font-weight: 700;
    padding: 12px 40px !important;
    margin: 20px;
}

.delModal .btn-primary {
    font-weight: 700;
    padding: 14px 46px !important;
}
.react-bs-table{
    margin-top: 20px
}
/* ---------------------------------------------------
    LOADER
----------------------------------------------------- */
.lds-spinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-spinner div {
  transform-origin: 32px 32px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 29px;
  width: 5px;
  height: 14px;
  border-radius: 20%;
  background: #cef;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    align-items: stretch;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;

}
#sidebar .sidebar-header h3:nth-child(2){
    display: none;
}
#sidebar.active {
    min-width: 105px;
    max-width: 105px;
    text-align: center;
}

#sidebar.active .sidebar-header h3:first-child,#sidebar.active .CTAs,#sidebar.active .info-user,#sidebar.active .title-menu-nav {
    display: none;
}
#sidebar.active .icon-menu-nav{
    font-size: 28px;
}
svg.icon-menu-nav{
    width: 24px !important

}
#sidebar.active .sidebar-header,#sidebar ul li a{
    text-align: center;
}
#sidebar.active .sidebar-header h3:nth-child(2){
    display: inline-block;
    font-size: 40px;
    margin-bottom: 0;
}
#sidebar.active .sidebar-header strong {
    display: block;
}

#sidebar ul li a {
    text-align: left;
    white-space: pre;
    overflow-x: hidden;
    text-overflow: ellipsis;
}

#sidebar.active ul li a {
    padding: 20px 10px;
    text-align: center;
    font-size: 0.85em;
}

#sidebar.active ul li a i {
    margin-right: 0;
    display: block;
    font-size: 1.8em;
    margin-bottom: 5px;
}

#sidebar.active ul ul a {
    padding: 10px !important;
}
#sidebar.active ul.components{
    padding: 20px 0
}
#sidebar.active .dropdown-toggle::after {
    bottom: 30px;
    right: 12px;
    border-top: .5em solid;
    border-right: .5em solid transparent;
    border-left: .5em solid transparent;
/*    -webkit-transform: translateX(50%);
    -ms-transform: translateX(50%);
    transform: translateX(50%);*/
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}


#sidebar ul.components {
    padding: 5px 0 20px;
    border-bottom: 1px solid #47748b;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li a i {
    margin-right: 10px;
}

#sidebar ul li.active>a,
#sidebar a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
    font-weight: bold;
}

#sidebar a[data-toggle="collapse"] {
    position: relative;
}

#sidebar .dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#sidebarul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.sign-out:hover {
    background: #fff;
    color: #7386D5;
}

a.sign-out {
    background: #6d7fcc ;
    color: #fff;
    border: 1px solid white;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

/*#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}*/
#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: calc(100% - 105px);
}
.title-menu-nav{
    margin-left: 6px
}
#sidebarCollapse{
    position: absolute;
    z-index: 100000;
    top: 0;
    right: -29px;
    border: none;
    background: #6d7fcc;
    border-radius: 0; 
    width: 30px;
    height: 30px;
    padding: 0;
    text-align: center;
    font-size: 14px;
}
#sidebarCollapse .fa-bars,#sidebarCollapse.active .fa-times{
    display: none;
}
#sidebarCollapse.active .fa-bars{
    display: inline-block;
}

.btn-info:focus,.btn-info:active,.btn-info:hover {
    box-shadow: none !important;
}
/* ---------------------------------------------------
 INFO USER
----------------------------------------------------- */
.info-user{
    padding: 18px;
    display: flex;
}
.info-user .avatar{
    width: 60px;
    height: 60px;
    border: 2px solid #eee;
    border-radius: 5px;
    margin-right: 12px;
    text-align: center;
    background: #ffffffab;
    padding: 3px
}
.info-user .avatar img{
    max-width: 100%;
    max-height: 100%;
}
/* ---------------------------------------------------
    Page Call center
----------------------------------------------------- */
.call-center .card-header{
    background: rgb(115, 134, 213);
    color: white;
    font-size: 20px
}
.call-center .card-header a{
        display: block;
}
.content-callcenter{
    margin-top: 30px;
}
.content-callcenter .nav.nav-tabs{
    font-size: 16px;
}
.content-callcenter .tab-pane
{
    padding: 1.25rem;
}
.content-callcenter .tab-content{
    background: white;
    border: 1px solid #dee2e6;
    border-top: none;
}
.search-callcenter{
    float: left;
    display: flex;
    margin-left: 20px
}
.search-callcenter input{
    width: 245px
}
.search-callcenter button{
    width: 40px
}
/* ---------------------------------------------------
    Page SIP
----------------------------------------------------- */
.toggler-ico {
    border: none;
    background: none;
    padding: 0;
    width: 15px;
    position: absolute;
    right: 8px;
    top: 40px;
    cursor: pointer;
}
.error-notify {
    font-style: italic;
    color: #1d1e37;
    margin-left: 50%;
}

.error-text {
    color: "#ff3366"
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
    }
    #sidebar .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
    }
    #sidebar.active {
        margin-left: 0 !important;
    }
    #sidebar .sidebar-header h3,
    #sidebar .CTAs {
        display: none;
    }
    #sidebar .sidebar-header strong {
        display: block;
    }
    #sidebar ul li a {
        padding: 20px 10px;
    }
    #sidebar ul li a span {
        font-size: 0.85em;
    }
    #sidebar ul li a i {
        margin-right: 0;
        display: block;
    }
    #sidebar ul ul a {
        padding: 10px !important;
    }
    #sidebar ul li a i {
        font-size: 1.3em;
    }
    #sidebar {
        margin-left: 0;
    }
    #sidebarCollapse span {
        display: none;
    }
}