:root {
  --input-padding-x: 1.5rem;
  --input-padding-y: .75rem;
}

body {
    /*background: #673ab7;
    background: -webkit-linear-gradient(to right, #4a0fb3, #8964cc, #bdbdbd);
    background: linear-gradient(to right, #4a0fb3, #8964cc, #bdbdbd);*/
        background: url(https://gcalls.co/wp-content/uploads/sites/3/2018/05/Gcalls-plus-webphone.jpg) #673ab7 no-repeat;
    height: 100vh;
    background-size: cover;
}

.card-signin {
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.1);
  background: #ffffff8c;
}

.card-signin .card-title {
  margin-bottom: 10px;
  font-weight: 300;
  font-size: 30px;
}

.card-signin .card-body {
  padding: 2rem;
}

.form-signin {
  width: 100%;
}

.form-signin .btn {
  font-size: 80%;
  border-radius: 5rem;
  letter-spacing: .1rem;
  font-weight: bold;
  padding: 1rem;
  transition: all 0.2s;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.form-label-group input {
  border-radius: 2rem;
}

.form-label-group>input,
.form-label-group>label {
  padding: var(--input-padding-y) var(--input-padding-x);
}

.form-label-group>label {
  position: absolute;
  top: -3px;
  left: 0;
  display: block;
  width: 100%;
  margin-bottom: 0;
  /* Override default `<label>` margin */
  line-height: 1.5;
  color: #495057;
  border: 1px solid transparent;
  border-radius: .25rem;
  transition: all .1s ease-in-out;
}

.form-label-group input::-webkit-input-placeholder {
  color: transparent;
}

.form-label-group input:-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-ms-input-placeholder {
  color: transparent;
}

.form-label-group input::-moz-placeholder {
  color: transparent;
}

.form-label-group input::placeholder {
  color: transparent;
}

.form-label-group input:not(:placeholder-shown) {
  padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
  padding-bottom: calc(var(--input-padding-y) / 3);
}

.form-label-group input:not(:placeholder-shown)~label {
  padding-top: calc(var(--input-padding-y) / 3);
  padding-bottom: calc(var(--input-padding-y) / 3);
  font-size: 12px;
  color: #777;
}
.hidden
{
  display: none;
}
.btn-loading{
  cursor: none;
  pointer-events: none;
  opacity: 0.6
}
/*.form-signin button[type='submit']{
  background: #673ab7
}*/